html {
    height: 100%;
}

body {
   background: url('/media/1087589.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    
    font-family: 'Varela';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.header-bg{
    background :#464646;
}

.orange-bg{
    background: black;
}


.join-now-button,
.view-products-button {
    background: white;
    color: black);
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-orange {
    background: orangered;
    color: white;
}
.join-now-button:hover,
.join-now-button:active,
.join-now-button:focus,
.view-products-button:hover,
.view-products-button:active,
.view-products-button:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: orangered;
    color: white;
}

.text-orange {
    color: orangered !important;
}

.text-black {
    color: black   !important;
}

.text-white {
    color: white   !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-white {
    border: 1px solid white !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #5d5d5d;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 80px;
    }
}